<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="isMyProfile">My Profile</ion-title>
    <ion-title *ngIf="!isMyProfile">{{(currentProfile | async)?.name}}'s Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-fab top right *ngIf="isMyProfile">
    <button ion-fab mini (click)="editProfile()"><ion-icon name="md-create"></ion-icon></button>
  </ion-fab>

  <ion-slides pager>
    <ion-slide *ngFor="let sofaImg of (currentProfile | async)?.sofaImages">
      <img [src]="sofaImg">
    </ion-slide>
  </ion-slides>

  <ion-list no-lines>
    <ion-item>
      <ion-thumbnail item-left>
        <img [src]= "(currentProfile | async)?.photoURL">
      </ion-thumbnail>
      <h2>{{(currentProfile | async)?.name}}</h2>
      <p>{{(currentProfile | async)?.city}} • {{(currentProfile | async)?.country}}</p>
      <p>You share 20 friends-of-friends</p>
    </ion-item>
    <ion-card-content>
      <p>{{(currentProfile | async)?.aboutMe}}</p>
    </ion-card-content>
    <ion-row>
      <ion-col [hidden]="!(currentProfile | async)?.email">
        <a [attr.href]="'mailto:' + (currentProfile | async)?.email">
          <button ion-button icon-left block>
            <ion-icon name="mail"></ion-icon>
            Email
          </button>
        </a>
      </ion-col>
      <ion-col [hidden]="!(currentProfile | async)?.phone">
        <a [attr.href]="'sms://' + (currentProfile | async)?.phone">
          <button ion-button icon-left block>
            <ion-icon name="call"></ion-icon>
            Text
          </button>
        </a>
      </ion-col>
    </ion-row>
  </ion-list>

</ion-content>
