<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <p class="HeaderFont">SofaSurf</p>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-row>
    Showing search results for {{ city }}, {{ country }}.
  </ion-row>

<!--   <button ion-button round icon-center clear large (click)="hostsByCanHost()">SofaNum</button>
  <button ion-button round icon-center clear large (click)="hostsByNumBeds()">canHost</button> -->


<!--   <ion-item>
  <ion-label>Number of Sofa</ion-label>
  <ion-select>
    <ion-option (click) = "hostsBySofaNum" selected="true">Low to High</ion-option>
    <ion-option value="m">High to Low</ion-option>
  </ion-select>
  </ion-item>



  <ion-item>
  <ion-label>Number of Connection</ion-label>
  <ion-select [(ngModel)]="gender">
    <ion-option value="f" selected="true">Low to High</ion-option>
    <ion-option value="m">High to Low</ion-option>
  </ion-select>
  </ion-item> -->

  <ng-container *ngFor="let host of hostList | async">
    <ion-card *ngIf="host.city == city" (click)="viewHost(host.$key)">

      <ion-item>
        <ion-avatar item-left>
          <img [src]= "host.photoURL">
        </ion-avatar>
        <h2>{{host.name}}</h2>
        <p>{{host.city}} • {{host.country}}</p>
        <p>You share 20 friends-of-friends</p>
      </ion-item>

      <ion-slides pager>
        <ion-slide *ngFor="let sofaImg of host.sofaImages">
          <img [src]="sofaImg">
        </ion-slide>
      </ion-slides>

      <ion-card-content>
        <p>{{host.aboutMe}}</p>
      </ion-card-content>

    </ion-card>

  </ng-container>
</ion-content>
