<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Search Results</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-fab top left fab-fixed>
    <button ion-fab mini><ion-icon name="funnel"></ion-icon></button>
    <ion-fab-list>
      <button ion-button round (click)="hostsByNumBeds()"># of beds</button>
      <button ion-button round (click)="hostsByMutual()"># of mutual</button>
    </ion-fab-list>
  </ion-fab>

  <ion-card class="search italic">
    <ion-card-header>
    {{ city }}, {{ country }}.
    </ion-card-header>
  </ion-card>

  <ng-container *ngFor="let host of hostList | async">
    <ion-card *ngIf="host.city == city" (click)="viewHost(host.$key)">

      <ion-item class="host">
        <ion-avatar item-left>
          <img [src]= "host.photoURL">
        </ion-avatar>
        <h2>{{host.name}}</h2>
        <!-- <p>{{host.city}} • {{host.country}}</p> -->
        <p class="italic">You share {{host.numMutual}} friends-of-friends</p>
      </ion-item>

      <ion-slides pager>
        <ion-slide *ngFor="let sofaImg of host.sofaImages">
          <img [src]="sofaImg">
        </ion-slide>
      </ion-slides>

<!--       <ion-card-content>
        <p>{{host.aboutMe}}</p>
      </ion-card-content> -->

    </ion-card>

  </ng-container>
</ion-content>
