page-main-search {
	img{
		max-width: 280px;
	}
	.text{
		font-size: 17px;
		color:$primary_text;
	}
	.small_text{
		font-size: 15px;
		color:$primary_text;
	}
}

.datepicker-modal{
	display: block;
	.datepicker-calendar {
		.center {
			justify-content: space-around;
		}
	}
	.datepicker-modal-buttons {
		position: initial !important;
		padding: 5px 5px;
	}
}
