<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <!-- <ion-title>Home</ion-title> -->
  </ion-navbar>
</ion-header>

<ion-content padding>

  <img src="assets/images/logo_L.png">

  <p class="text italic center">Welcome {{(afService.currentUser | async)?.name}}!</p>
  
  <ion-list>

    <ion-item>
      <ion-label class="text">City</ion-label>
      <ion-input (click)="showAddressModal()" [(ngModel)]="address.city" type="text" class="medium_text" placeholder="Pick an address"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="text">Country</ion-label>
      <ion-input [(ngModel)]='address.country' name='country' placeholder='Pick a country' id="country" type="text" class="medium_text"></ion-input>
    </ion-item>
    <ion-item class="text">
      Date
      <button ion-datepicker (ionChanged)="setStartDate($event);" [value]="localStartDate" full="true" calendar="true" clear class="ScheduleDate date">
        <span class="small_text" *ngIf="!localStartDate">Start Date</span>
        {{localStartDate | date:"shortDate"}}
      </button>
      -
      <button ion-datepicker (ionChanged)="setEndDate($event);" [value]="localEndDate" full="true" calendar="true" clear class="ScheduleDate date">
        <span class="small_text" *ngIf="!localEndDate">End Date</span>
        {{localEndDate | date:"shortDate"}}
      </button>
    </ion-item>

    <button ion-button round icon-left (click)="search()" class="center"><ion-icon name="sunny"></ion-icon>Surf</button>
  </ion-list>
  
</ion-content>

    